<section class="section">
<a href="<%= root_path %>" class="button is-link">Back to Products</a>
  <div class="container">
    <div class="columns">
      <%= render partial: 'product_info', locals: { product: @product } %>
    </div>
  </div>
</section>
